/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
*{
  /* margin: 0; */
}


/* body style */
.work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* header sryle */
.background-img{
  background-image: url('/images/header_bg.png'),url('/images/developer.png');
  background-repeat: no-repeat;
  background-position: right bottom,left top;
}


.dark-1{
  color: #181818;
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}
/* sharted style */
.text-primary{
  color: #FD6E0A;
}
.btn-primary{
  color:#FFFFFF;
  background-color:#FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.background-color{
  background-color: #FFF8F3;
}
.main-title{

  font-weight: bold;
  font-size: 35px;
}
/* nav style */
nav{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin:0 200px 0 226px;
}

.nav-title{
font-weight: 800;
font-size: 45px;
}
nav > ul{
  display: flex;
  font-weight:400;
  font-size: 20px;
  align-items:center;
  
}
nav ul li{
list-style: none;
margin-right: 51px;
}
nav ul li a{
  text-decoration: none;
}
/* benner style */

.benner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 38px 0 226px;
}
.benner-content{
max-width: 700px;

  

}

.benner-title-greeting{
font-weight: 600;
font-size: 45px;
}
.benner-title{
  font-weight: 700;
  font-size: 85;
}
.benner-description{
  font-weight: 400;
  font-size: 18px;

}
.benner-profile-pic{
  width: 584px;
  height: 676px;

}

/* main style */
main{
max-width: 1140px;
margin: 0 auto;

  
}
 .main-section{
  margin-top: 100px;
  text-align: center;
  padding: 220px 150px 42px;
 
 }
 .semi-section{
  border: 2px solid  #474747;
  background-color: #FFFFFF;
 }
 
.about-items{
  display: flex;
  justify-content:space-around;
}
.about-item{

}
.about-title{
  color: #757575;
  font-size: 20px;
  font-weight:400;
}
.about-description{
  color: #474747;
  font-size: 20px;
  font-weight:700;
}
.2main-section